Repository NVIDIA/bare-metal-manager-core: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:build-container-x86, build:build-container-arm, build:dev-docker

Path conditions:
  build:build-container-x86: any of: dev/docker/Dockerfile.build-container
  build:build-container-arm: any of: dev/docker/Dockerfile.build-container-arm
  build:dev-docker: any of: api/**/*, dns/**/*, rpc/**/*, dhcp/**/*, pxe/**/*

Update .gitlab-ci.yml file debug entry
  .gitlab-ci.yml
Due: none

initial proposal for sql representing dpu/host
  api/migrations/20211119192131_initial.sql
Due: build:dev-docker

trying mkosi without sudo
  pxe/Makefile.toml
Due: build:dev-docker

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

create an http listener for carbide because kea did not like the TLS endpoint
  dev/kube/overlays/dev1/configs/carbide-http-service.yaml
  dev/kube/overlays/dev1/configs/envoy.yaml
  dev/kube/overlays/dev1/configs/kea.json
  dev/kube/overlays/dev1/kustomization.yaml
  dev/kube/overlays/dev1/patches/kea-dhcp_image_pull.yaml
Due: none

Fix DPU card uefi numbers
  dhcp/src/kea/callouts.cc
  dhcp/src/vendor_class.rs
Due: build:dev-docker

remove generating manifest
  Makefile.toml
Due: none

FORGE-417: APIs for IPMI handling.
  api/Cargo.toml
  api/src/api.rs
  api/src/bg.rs
  api/src/ipmi.rs
  api/src/lib.rs
  vendor/shell-words/.cargo-checksum.json
  vendor/shell-words/Cargo.toml
  vendor/shell-words/LICENSE-APACHE
  vendor/shell-words/LICENSE-MIT
  vendor/shell-words/README.md
  vendor/shell-words/rustfmt.toml
  vendor/shell-words/src/lib.rs
Due: build:dev-docker

When running KIND locally allow engineers to use local binaries
  .envrc
  .gitignore
  Makefile.toml
  README.md
  dev/kube/kind/cluster.yaml
  dev/kube/overlays/local/forge/kustomization.yaml
  dev/kube/overlays/local/forge/override_api_image.json.example
  dev/kube/overlays/local/forge/patches/carbide-api_image.yaml
  dev/kube/overlays/local/forge/patches/carbide-dns_image.yaml
  dev/kube/overlays/local/forge/patches/carbide-pxe_image.yaml
Due: none

Add column for who is using reno servers
  README.md
Due: none

Use dhcp config for next and name servers
  Cargo.lock
  dev/deployment/kea-dhcp4-carbide.conf
  dev/kea-dhcp4.conf.example
  dev/kube/overlays/dev1/forge/configs/kea.json
  dhcp/Cargo.toml
  dhcp/Dockerfile
  dhcp/examples/kea-dhcp4-carbide.conf
  dhcp/src/kea/callouts.cc
  dhcp/src/kea/loader.cc
  dhcp/src/lib.rs
  dhcp/src/machine.rs
  docker-compose.yml
  vendor/const_env/.cargo-checksum.json
  vendor/const_env/Cargo.toml
  vendor/const_env/LICENSE
  vendor/const_env/README.md
  vendor/const_env/src/lib.rs
  vendor/const_env/tests/run-pass/default.rs
  vendor/const_env/tests/run-pass/explicit.rs
  vendor/const_env/tests/run-pass/implicit.rs
  vendor/const_env/tests/run-pass/negative.rs
  vendor/const_env/tests/run-pass/smoke.rs
  vendor/const_env/tests/run_tests.rs
  vendor/const_env_impl/.cargo-checksum.json
  vendor/const_env_impl/Cargo.toml
  vendor/const_env_impl/LICENSE
  vendor/const_env_impl/README.md
  vendor/const_env_impl/src/lib.rs
  vendor/const_env_impl/tests/from_env.rs
Due: build:dev-docker

Add Su's machines to the list
  README.md
Due: none

Add a pxe server http endpoint
  Cargo.lock
  dev/kube/overlays/dev1/forge/configs/carbide-pxe-http-service.yaml
  dev/kube/overlays/dev1/forge/configs/envoy_pxe.yaml
  dev/kube/overlays/dev1/forge/kustomization.yaml
Due: none

Add newline
  dev/kube/overlays/dev1/forge/configs/carbide-pxe-http-service.yaml
Due: none

Update to use nodeport
  dev/kube/overlays/dev1/forge/configs/carbide-pxe-http-service.yaml
  dev/kube/overlays/dev1/forge/kustomization.yaml
  dev/kube/overlays/dev1/forge/patches/nodePort_we_already_failed.yaml
Due: none

split pxe http servie into its own definition
  dev/kube/overlays/dev1/forge/configs/carbide-pxe-http.yaml
  dev/kube/overlays/dev1/forge/kustomization.yaml
  dev/kube/overlays/dev1/forge/patches/nodePort_we_already_failed.yaml
Due: none

add container port for envoy http listener, and make sure to proxy grpc calls as well
  dev/kube/overlays/dev1/forge/configs/carbide-pxe-http.yaml
  dev/kube/overlays/dev1/forge/configs/envoy_pxe.yaml
  dev/kube/overlays/dev1/forge/patches/carbide-pxe_envoy.yaml
Due: none

just bypass envoy for carbide-pxe http
  dev/kube/base/carbide-pxe/deployment.yaml
  dev/kube/base/carbide-pxe/rocket.toml
  dev/kube/overlays/dev1/forge/configs/carbide-pxe-http.yaml
  dev/kube/overlays/dev1/forge/configs/envoy_pxe.yaml
Due: none

Fix the pxe volume mount and next server
  dev/kube/overlays/dev1/forge/configs/kea.json
  dev/kube/overlays/dev1/forge/patches/carbide-pxe_volume.yaml
Due: none

Fix the volume mount on the host
  dev/kube/overlays/dev1/forge/patches/carbide-pxe_volume.yaml
Due: none

Fix the base pxe config
  dev/kube/base/carbide-pxe/deployment.yaml
Due: none

Adding in rocket changes
  dev/kube/overlays/dev1/forge/configs/rocket.toml
  dev/kube/overlays/dev1/forge/kustomization.yaml
Due: none

Add necessary libraries for building the rust binary
  README.md
Due: none

Add Vishnu's machines
  README.md
Due: none

Create a CI kind cluster for running cargo tests against
  Makefile.toml
  dev/kube/kind/ci/cluster.template
  dev/kube/overlays/ci/cert-manager/kustomization.yaml
  dev/kube/overlays/ci/forge/ci_image.json
  dev/kube/overlays/ci/forge/kustomization.yaml
  dev/kube/overlays/ci/forge/resources/certs/cert.yaml
  dev/kube/overlays/ci/forge/resources/certs/kustomization.yaml
  dev/kube/overlays/ci/forge/resources/deployment.yaml
  dev/kube/overlays/ci/forge/secrets/dockersecret.yaml
  dev/kube/overlays/ci/forge/serviceAccount.yaml
  dev/kube/overlays/ci/kustomization.yaml
  dev/kube/overlays/ci/resources/forge-system.yaml
Due: none

ipmi: Fix possible mem leak in error path in crate
  ipmi/freeipmi-sys/src/lib.rs
Due: none

Change the port to default to 80
  dhcp/src/machine.rs
Due: build:dev-docker

Split makefiles up for easier reading
  Cargo.lock
  Makefile.toml
  dev/kube/kind/local/cluster.yaml
  include/Makefile-docker-compose.toml
  include/Makefile-kind.toml
  include/Makefile-vpc.toml
Due: none

small fix to makefile
  include/Makefile-kind.toml
Due: none

Add non uefi vendor class for DPU
  dhcp/src/vendor_class.rs
Due: build:dev-docker

add KIND and golang to build container to support building VPC and kubernets testing
  Makefile.toml
  dev/docker/Dockerfile.build-container
Due: build:build-container-x86

Add logs to machine discovery failure
  dhcp/src/discovery.rs
Due: build:dev-docker

Integrating freeipmi into power control APIs
  Cargo.lock
  api/Cargo.toml
  api/src/ipmi.rs
  ipmi/freeipmi-sys/Cargo.toml
  ipmi/freeipmi-sys/src/lib.rs
  vendor/shell-words/.cargo-checksum.json
  vendor/shell-words/Cargo.toml
  vendor/shell-words/LICENSE-APACHE
  vendor/shell-words/LICENSE-MIT
  vendor/shell-words/README.md
  vendor/shell-words/rustfmt.toml
  vendor/shell-words/src/lib.rs
Due: build:dev-docker

fix makefile typo
  include/Makefile-kind.toml
Due: none

Update .gitlab-ci.yml file trying out kind in gitlab-ci
  .gitlab-ci.yml
Due: none

new CI task for kind
  Makefile.toml
Due: none

Update .gitlab-ci.yml file fix kind build step
  .gitlab-ci.yml
Due: none

conditionally set repo_root depending on where we are executed
  Makefile.toml
Due: none

Update .gitlab-ci.yml file move back to kind
  .gitlab-ci.yml
Due: none
